* {
  margin: 0;
  padding: 0;
}

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  align-items: flex-start;

  height: 100%;

  background: #2a2828c1;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(230, 230, 230);
}

.footer-nav {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  font-weight: normal;
  list-style: none;
  color: #cdcdcd;
  font-weight: normal;
  list-style: none;
}

h2 {
  font-size: 16px;
  text-decoration: underline;
}

.social-media-icon {
  width: 27px;
  height: 27px;
}

.appstore-icon {
  width: 130px;
}

.social-media-icon,
.appstore-icon {
  filter: invert(0.85);
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
