* {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  font-family: "Montserrat", sans-serif;

  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content "
    "footer footer ";
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 5rem 1fr 20rem;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: space-evenly;
  background: #fcfaf7;
}
