* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 3.2rem;
  width: 100%;
  background: #2a2828c1;
  position: fixed;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e6e6e631;
}

nav {
  display: flex;
  gap: 7rem;
}

label.logo {
  color: #ffffff;
  font-size: 2rem;
  padding-left: 6.25rem;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0.4rem;
}

nav ul li a {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

a.active,
.navlink:hover {
  background-color: #000000d0;
  transition: 0.5s;
}

#right-nav-section {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.search-bar {
  margin-left: auto;
  transition: 0.5s;
  width: 5rem;
  height: 1.5rem;

  padding-left: 0.6rem;
  font-size: 1rem;
  font-style: italic;

  border: 1px solid #c0c0c0;
  border-radius: 1.5rem;
  box-shadow: inset 1px 2px 3px #0000000d;
}

.search-bar:hover {
  width: 11rem;
  border-color: #9b9b9b;

  transition: 0.5s;
}

input::placeholder {
  color: #000000;
}

.header-button {
  width: 5rem;
  height: 1.5rem;
  border: 1px solid #c0c0c0;
  border-radius: 1.5rem;
  box-shadow: inset 1px 2px 3px #0000000d;
}

.header-button:hover {
  background-color: #e3e3e3;
  border-color: #9b9b9b;
  transition: 0.2s;
  cursor: pointer;
}

.header-button:active {
  background-color: #bebebe;
  transition: 0s;
}
